* {
  margin: 0%;
  padding: 0%;
}
html{
  width: 1496px;  
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1496px;
}

.header {
  height: 80px;
  margin: 1px 0 0 0;
  background-color: #ffffff;
  border: 1px solid #D5D5D5;
  display: flex;
}
.logo {
  width: 209px;
  height: 40px;
  margin: 20px 100px 20px 20px;
}
.header__center {
  display: flex;
  flex-wrap: wrap;
  margin: 29px 0px;
}
.header__center__element {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  margin: 0px 30px;
}

.banner{
  position: relative;
}
.banner__img{
  height: 423px;
}
.banner .banner__but__card{
  position: absolute;
  top: 68.35%;
  left: 13.1%;
  width: 254px;
  height: 56px;
  padding: 10px;
  background-color: #00BEF0;
  color: white;
  font-size: 20px;
  border: none;
}
.banner .banner__but__card:hover{
  background-color: #0aceff;
}

.spi{
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.anke{
  margin: 0 200px;
  font-size: 24px;
  display: flex;
}
.kon{
  margin: 25px 200px;
  font-size: 24px;
}
.lo{
  font-size: 24px;
}
.content__but__card{
  margin: 5px 200px;
  width: 254px;
  height: 56px;
  padding: 10px;
  background-color: #00BEF0;
  color: white;
  font-size: 20px;
  border: none;
}
.content__but__card:hover{
  background-color: #0aceff;
}

.preish{
  margin: 50px 0;
  display: flex;
  justify-content: center;
}