* {
  margin: 0%;
  padding: 0%;
}
html{
  width: 1496px;  
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1496px;
}

.header {
  height: 80px;
  margin: 1px 0 0 0;
  background-color: #ffffff;
  border: 1px solid #D5D5D5;
  display: flex;
}
.logo {
  width: 209px;
  height: 40px;
  margin: 20px 100px 20px 20px;
}
.header__center {
  display: flex;
  flex-wrap: wrap;
  margin: 29px 0px;
}
.header__center__element {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  margin: 0px 30px;
}

.bykvi{
  font-size: 36px;
  margin: 20px 0px 0 100px;
}
.vtor{
  position: relative;
}
.vtor .vtor__but__ipo{
  position: absolute;
  top: 82.2%;
  left: 42.05%;
  width: 317px;
  height: 72px;
  padding: 10px;
  background-color: #00BEF0;
  color: white;
  font-size: 20px;
  border: none;
}
.vtor .vtor__but__ipo:hover{
  background-color: #0aceff;
}
.novo{
  position: relative;
}
.novo .novo__but__ipo{
  position: absolute;
  top: 82.8%;
  left: 42.05%;
  width: 317px;
  height: 72px;
  padding: 10px;
  background-color: #00BEF0;
  color: white;
  font-size: 20px;
  border: none;
}
.novo .novo__but__ipo:hover{
  background-color: #0aceff;
}

.pril{
  position: relative;
}
.pril .pril__but__proga{
  position: absolute;
  top: 50.9%;
  left: 4.81%;
  width: 350px;
  height: 75px;
  padding: 10px;
  background-color: #00BEF0;
  color: white;
  font-size: 20px;
  border: none;
}
.pril .pril__but__proga:hover{
  background-color: #0aceff;
}